*{
    margin:0;
    font-family:'Times New Roman', Times, serif;
}

.main{
    background-color: #1f2937;
}
.header{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 20px 50px 60px ;
    
}

.left{
    
    font-size: 24px;
    color: #f9faf8;
    

}

.right{
    display: flex;
    
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;

}

.main-content{
    display: flex;
    flex-direction: column;
    padding: 0 50px 70px;
}

.hero-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.sub-text{
    font-size: 18px;
    color: #e5e7eb;
}

.smp-img{
   background-color: gray;
    justify-content: right ;
    color: #f9faf8;
    width: 30%;
}

.button{
    background-color: #3882f6;
    margin-top: 20px;
    color: #f9faf8;
    font-weight: 900;
    width: 10%;
    border-radius: 10px;
    border: 0;
}