*{
    margin:0;
    font-family: Roboto,sans-serif;
}

.main{
    background-color: #1f2937;
}
.header{
   
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    flex-wrap: nowrap;
    
}

.left{
    border: 1px solid white;
    font-size: 24px;
    color: #f9faf8;

}

.right{
    display: flex;
    border: 1px solid white;
    font-size: 18px;
    color: #e5e7eb;
    gap: 20px;

}

